body {
    margin: 0;
    background-color: rgb(50, 207, 207);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    padding: 10px;
    min-width:250px;
    height: auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
}

label {
    margin: 20px;
    font-size: 20px;
}
input {
    border-radius: 10px;

    text-align: center;
    font: 20px;
    font-family: sans-serif;
    color: black;
}

input::placeholder {
    opacity: .7;
}
h1 {
    margin-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
    margin-top: 10px;
    color: black;
    background-color: red;
    padding: 6px 18px;
    font-size: 20px;
    cursor: pointer;
    min-height: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);

}

.btn:hover {
    background-color: green;
}



.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    padding: 10px;
    min-width:250px;
    height: auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    margin-bottom: 20px;
    
}

.result-container h2 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-bottom: 0;
}

span {
    color: green;
    font-size: 28px;
}